Repository josedab/prism: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --all-features
  language: system
  pass_filenames: false
  stages:
  - push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - push

ci: add GitHub workflows and templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: add MIT license
  LICENSE
Due: none

feat(l4): add TCP/UDP layer 4 proxy support
  Cargo.toml
  examples/l4_proxy.yaml
  src/config/types.rs
  src/config/validation.rs
  src/l4/config.rs
  src/l4/health.rs
  src/l4/mod.rs
  src/l4/proxy.rs
  src/l4/stats.rs
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit

feat(auth): add OAuth2/OIDC authentication middleware
  Cargo.toml
  examples/oauth2.yaml
  src/middleware/mod.rs
  src/middleware/oauth.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit

feat(cache): add Redis distributed caching middleware
  examples/redis_cache.yaml
  src/middleware/cache_redis.rs
  src/middleware/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

feat(observability): add SLO tracking and admin API endpoints
  examples/slo.yaml
  src/admin/mod.rs
  src/config/types.rs
  src/observability/mod.rs
  src/observability/slo.rs
  src/server/handler.rs
  src/server/reload.rs
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

feat(http3): implement QUIC listener and HTTP/3 support
  Cargo.toml
  examples/http3.yaml
  src/error.rs
  src/listener/http3.rs
  src/listener/mod.rs
  src/server/handler.rs
  src/server/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit

feat(migrate): add configuration migration from other proxies
  examples/migrate/README.md
  examples/migrate/sample-haproxy.cfg
  examples/migrate/sample-nginx.conf
  src/migrate/envoy.rs
  src/migrate/haproxy.rs
  src/migrate/mod.rs
  src/migrate/nginx.rs
  src/migrate/traefik.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

feat(llm): add LLM gateway for AI provider proxying
  examples/llm-gateway.yaml
  src/llm/config.rs
  src/llm/middleware.rs
  src/llm/mod.rs
  src/llm/provider.rs
  src/llm/router.rs
  src/llm/streaming.rs
  src/llm/tokenizer.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

feat(gitops): add GitOps native configuration sync
  Cargo.toml
  examples/gitops.yaml
  src/gitops/config.rs
  src/gitops/mod.rs
  src/gitops/repository.rs
  src/gitops/sync.rs
  src/gitops/validation.rs
  src/gitops/webhook.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit

feat(config): add gitops and llm_gateway configuration types
  src/config/types.rs
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

chore: update tests for new config fields
  src/config/validation.rs
  src/server/reload.rs
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

chore: fix unused variable warnings in tests
  src/circuit_breaker_v2/mod.rs
  src/coalescing/mod.rs
  src/middleware/chain.rs
  src/middleware/rate_limit.rs
  src/versioning/mod.rs
  tests/e2e_tests.rs
  tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
